name: CI for PRs

on: [push, pull_request]

jobs:
    lint:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v1
            - name: Super-Linter
              uses: github/super-linter@v3.15.5
              env:
                  GITHUB_TOKEN: ${{ secrets.token }}
