name: reviewdog

on:
  pull_request:
    branches: [ "main" ]

jobs:
  test:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - name: Setup reviewdog
      uses: reviewdog/action-setup@v1.0.3
    - run: reviewdog v1.0.3
